@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.container-big{
    max-width: 900px;
}

.nav-bar-bg{
    background-color: #FF6900;
    height: 40px;
    width: 100%;

}

.header{
    max-width: 900px;
    width: 100%;
    
}

.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: transparent;
}

.header-col-logo>img{
    height: 20px;
}

div[class^="header-col"]{
    height: 20px;
    font-weight: bold;
    color: white;

}

.header-col-menu>span{
    padding-right: 8px;
}

.header-col-link>span{
    padding-left: 8px;
}

footer{
    background-color: #1A1A1A;
}

.main-container{
    max-width: 900px;
    margin: 0 auto;
    
}

.col-img>img{
    max-height: 410px;
}

.row{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.col{
    padding-bottom: 20px;
}

.col-img{
    position: relative;
}

.favorites{
    height: 25px;
    width: 25px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0px;
    text-align: center;
    z-index: 999;
}

.discount, .eco{
    width: max-content;
    color: white;
    padding: 3px;
}

.discount{
    background-color: red;
}

.eco{
    background-color: green;
}

.tag{
    position: absolute;
    bottom: 20px;
    left: 0px;
    gap: 5px;
    display: flex;
    font-size: 12px;
    z-index: 999;
}

.col-desc .desc-title{
    font-size: 19px;
    font-weight: 600;
    padding: 3px 0 3px 0;
}

.price-discount{
    color: red;
}

.old-price{
    text-decoration: line-through;
    font-weight: bold;
}

.main-container .header-col-menu{
    color: white;
}

.box-img img{
    max-height: 410px; 
    display: flex;
    justify-content: space-between;
}

.box-img img{
    background-image: url(../img/1b.webp);
    position: relative;
    z-index: 2;
}


/* *********************
DEBUG
Delete body class "debug" to deactivate
********************* */
/* 
.debug .main-container {
    background-color: aqua;
    min-height: 100px;
} */